---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<div class="row">
	<div class="medium-8 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->


	<!-- SIDEBAR -->

	<div class="medium-4 medium-push-8 columns" markdown="1">
	<div class="panel radius" markdown="1">

	<div align="center"><h3>Зміст:</h3></div>
	{: #toc }
	*  TOC
	{:toc}


	<details>
	<summary><b align="center" class="radius button small">Мої посилання</b></summary>
	<div align="center">
	<p><a href="https://dmytrohoi.github.io/"><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/st.png"></a> <a href="https://fb.com/dmytro.hoi"><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/fb.png"></a><a href="https://github.com/dmytrohoi"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/gh.png"></a><a href="https://twitter.com/criticoffer"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/tw.png"></a></p>
	<p><a href="https://dmytrohoi.github.io/cv"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/cv.png"></a> <a href="https://www.linkedin.com/in/dmytrohoi"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/li.png"></a><a href="https://instagram.com/dmhoi78"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/insta.png"></a><a href="https://youtube.com/channel/UCOOftc_XjycxIsDbWsoBFtA"  ><img style="vertical-align: sub !important;" src="https://dmytrohoi.github.io/images/social/yt.png"></a></p>
	</div>

	<div align="center"><i>Більше дописів на Facebook та в Twitter..</i></div>

	</div>
	</details>

	</div>
	</div>

</div><!-- /.row -->
